{% extends 'base.html' %}

{% block title %}WATCHDOGS{% endblock %}

{% block content %}
<section>
    <div class="container-fluid">
      <div class="row">
        <div class="imagen-fondo">
          <p class="app-titulo">Grupo de usuarios linux<p>
          <p class="app-titulo">Mina<p>
          <p class="app-tex">Quieres unirte a nuestro grupo de usuario Linux en Minatitlan</p>
      </div>    
    </div>
  </div>
</section>



<section class="app-principal">
    

  <div class="container">
      <div class="row">
      <div class="col-xs-12 col-md-6 col-md-6 col-lg-6 color3 ">
       
        <h1>Aprende Linux/ubuntu</h1>
        <h2>y cre una internet mejor</h2>
        <ul>
          <li>Instala LAMP</li>
          <li>Instala Owncloud</li>
          <li>Instala un NAS</li>
          <li>Mejora tus comandos</li>
          <li>Guru en Linux</li>
        </ul>

      </div>
      <div class="hidden-xs col-sm-6 col-md-6 col-lg-6 color3">
        <img src="img/app-nuevo.png" class="img-responsive max"alt="">
      </div>
    </div>
  </div>
</section>

 
  
<section>
    <div class="container-fluid">
    <div class="row">
      

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 app-subcribete">
     
      <form class="form-inline app-subcribete">
        <div class="form-group ">
          <label for="correo" class="sr-only">E-mail</label>
          <input type="email" class="form-control input-lg" id="" placeholder="Ingresa tu email ;)">
        </div>
        <button class="btn btn-primary btn-sub">Subscribirme!</button>
                

        <p>Subscríbete y entérate de nuestras reuniones, prometemos no spammearte.</p>
      </form>
    </div>
    </div>
  </div>
</section>


{% endblock %}